.container {
  color: white;
}

.container > h1 {
  text-align: center;
  /* border-bottom: 1px solid #b73535; */
  /* display: inline-block; */
  margin: auto;
  color: #b73535;
}
.ordersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
  width: 800px;
  margin: auto;
}
.ordersContainerImage img {
  height: 150px;
}
.ordersContainerInfo {
  width: 300px;
}
.orderContainerCheckOut {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 1px solid firebrick; */
}

.ordersContainerInfo h1 {
  /* padding: 0; */
  margin: 0;
  font-size: 18px;
}

.ordersRemoveBtn,
.checkOut span button {
  border: 0;
  padding: 10px;
  color: white;
  font-size: 11px;
  cursor: pointer;
  background-color: #b73535;
  font-weight: 600;
  border-radius: 2px;
}

.subTotalInfo {
  width: 800px;
  display: flex;
  padding: 10px;
  margin: auto;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 30px;
}

.subTotalInfo h1 {
  font-size: 18px;
}

.emptyCartContainer {
  margin: 50px auto;
  text-align: center;
}

.emptyCartContainer a {
  color: #b73535;
}

.checkOut {
  width: 800px;
  margin: auto;
  display: flex;
  /* justify-content: end; */
  flex-direction: row-reverse;
  /* border: 1px solid red; */
}
.checkOut span button {
  font-weight: 600;
  padding: 10px 50px;
}

.checkout-logOutBtn {
  width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: row-reverse;
}
.checkout-logOutBtn button {
  background: #b73535;
  border: 1px solid #b73535;
  padding: 10px 30px;
  cursor: pointer;
  color: #f2f2f2;
  font-weight: 600;
}

.bottomMargin {
  width: 1000px;
}
